.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.burger_img {
  width: 10rem;
  transition: 1s ease-in-out;
  animation: burgerAnimate 1s infinite linear;
  -webkit-animation: burgerAnimate 1s infinite linear;
}
@keyframes burgerAnimate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
  0% {
    width: 15rem;
  }
  20% {
    width: 14rem;
  }
  40% {
    width: 13rem;
  }
  60% {
    width: 12rem;
  }
  80% {
    width: 11rem;
  }
  100% {
    width: 10rem;
  }
}
@keyframes burgerTransform {
  from {
    -webkit-transform: scale(1.2, 1.2);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}
