.Navbar {
  height: 4rem;
  width: 95%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.links_div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 15%;
}
.link {
  color: white;
  font-size: 0.85rem;
  text-decoration: none;
}
.contact_btn {
  width: 6rem;
  height: 2rem;
  border-radius: 50px;
  box-shadow: 2px 4px 4px 0px #00000040;
  background-color: #ff5200;
  border: 0.1px solid #ff5200;
  color: white;
  cursor: pointer;
}
.contact_btn:hover {
  background-color: #bb3c01;
  border: 0.1px solid #bb3c01;
}
.contact_btn:active {
  background-color: #ff5200;
  border: 0.1px solid #ff5200;
}

@media (max-width: 800px) {
  .links_div {
    display: none;
  }
  .contact_btn {
    display: none;
  }
}
